.sky-component, .moon-component, .star-component{
    padding-top: 100px;
    width: 90%;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border-radius: 25px;
    background-color: bisque;
}

.sky-component{  
    background-image: url(../assets/sky.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.moon-component{
    background-image: url(../assets/moon_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.star-component{
    background-image: url(../assets/stars.png);
    background-repeat: no-repeat;
    background-size: cover;
}